@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", serif-seif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f0f0;
    width:100vw --webkit-fill-available;   
}




/* Header Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'textbook-new' , sans-serif;
    color: white;
    z-index: 1000;
    backdrop-filter: blur(5px);
}
.principal{
    background: rgb(0,0,0, 0.1);

}
.menu-auxiliar{ background: rgb(0,0,0,0.5);}
nav {
    max-width: 1200px;
    margin-left: 9%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 1rem;
}

.logo {
    right: 15rem;
    position: relative;
    height: 40px;
    margin: auto;
}
.nav-links .menu{
    display: flex;
    margin-left: 14%;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    gap: 3rem;

}
.nav-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav-links a {
    font-family: 'textbook-new', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
}

.progress-bar {
    height: 3px;
    background: #483f3c;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

/* Hero Section */
.banner {
    background-color: #D9D9D7;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 105vh;
    overflow: hidden;
}

.slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* Cada slide ocupa 100% da altura da tela */
}

.slick-slide .section {
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center; /* Centraliza conteúdo */
}
.section.left,
.section.center,
.section.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section.left .cima, 
.section.left .baixo {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
}

/* Seção Esquerda */
.section.left {
    background-color: #222226;
    color: white;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
    position: relative;
}
.section.left .cima{
    font-family: 'carlasans';
    text-align: left;
    margin-top: -100px;
    margin-left: 80px;
    font-size: 50px;
    font-weight: 400;
}

.section.left .baixo{
    margin-left: 80px;

    font-family: 'carlasans';
    text-align: left;
    font-size: 30px;
    font-weight: 400;

}

.left .image {
    width: 100%;
    margin-top: 20px;
}

.left img {
    width: 80%;
    border-radius: 10px;
}

.btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    background-color: #ddd;
}


/* Seção Central */
.section.center {
    background-color: #ae8d80;
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
}
.center .estrela{
    position: absolute;
    top: 10%;
    left: 66%;
    width: 0;
    height: auto;
}
.center .sol{
    display: flex;
    top: 20%;
    left: 30%;
    width: 0;
    height: auto;
}
.center .content {
    max-width: 80%;
}
.capitalize {
    font-family: 'carlasans';

    text-transform: uppercase;
}
.center h1 {
    font-family: 'carlasans';
    text-transform: capitalize;

    font-size: 40px;
    margin: 10px 0;
}

.center p {
    font-size: 18px;
}

.icon {
    font-size: 30px;
}

/* Seção Direita */
.section.right {
    position: relative;
    width: 33.3%;
}

.right .image {
    width: 100%;
    height: 100%;
}

.right img {
    width: 100%;
    height: 100%;
}
.elemento-topo{
    position: absolute;
    opacity: .5;
    z-index: 4000;
    top:0;
    margin-top: -300px;
    left: 600px;
    
    width: 600px;
    height: auto;
}
.vertical-text {
    position: absolute;
    right: -12rem;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    font-size: 24px;
    letter-spacing: .8rem;
    font-weight: 600;
    color: white;
    align-items: end;
}

/* Ícones de redes sociais */
.social-icons {
    position: absolute;
    bottom: 20px;
    right: 50px;
    display: flex;
    gap: 28px;
}

.social-icons a {
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #d9b99b;
}



/* Services Section */
.services .titulo{
    padding: 4rem 1rem;
    text-align: center;
}

.services .titulo h2 {
    font-size: 42px;
    margin-bottom: 2rem;
    padding: 1rem;
}
.services .titulo p{
    
    font-size: 20px;
    padding: 1rem;
}

.services-carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 1rem;
    -webkit-overflow-scrolling: touch;
}
#cCarousel {
    position: relative;
    max-width: 100%;
    margin: auto;
  }
  
#cCarousel #cCarousel-inner {
    display: flex;
    position: absolute;
    transition: all 1s ease-in-out;
    gap: 10px;
    left: 0px;
    margin-left: 5%;
    margin-right:5%;
  }
  @media (max-width: 460) {
    #carousel-vp {
      width: 510px;
    }
  }
  
  @media (max-width: 460) {
    #carousel-vp {
      width: 400px;
    }
  }
  
#cCarousel .arrow {
    position: absolute;
    top: 50%;
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
    font-size: 26px;
    color: rgb(255, 255, 255);
    background: #ae8d80;
    cursor: pointer;
  }
  
  #cCarousel #prev {
    left: 10px;
  }
  
  #cCarousel #next {
    right: 10px;
  }
  
  #carousel-vp {
    width: 90%;
    padding: 10px 10px 10px 10px;
    height: 600px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: auto;
    transition: all .1s;
  }
  
.service-card {
    width: 450px;
    height: 500px;
    border: 2px solid white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: all .5s;

}

.service-image {
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center;
}

.service-card .infos h3{
    margin-top: 10px;
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1b1b1b;
    padding: 0rem 1rem;
}
.service-card .infos h4 {
    padding: 0rem 1rem;
    font-size: 10px;
}


/* carrossel novo */


.service-card img {
    width: 100%;
    object-fit: cover;
    min-height: 60%;
    color: white;
  }
  
  .service-card .infos {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:flex-start;
    background: white;
    color: black;
  }

  .service-card .infos .text{
    padding: 0rem 1rem;
    font-size: 16px;
    color: #03011f;
    opacity: .5;
    font-weight: regular;
}
    



/* carrossel novo */



/* Estilos para a seção de avaliações */
.testimonials {
    background: #b39b94;
    padding: 4rem 2rem;
  
}

.testimonials-carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory -webkit-overflow-scrolling;
    gap: 2rem;
    -webkit-overflow-scrolling: touch --webkit-fill-available;
    cursor: grab;
    margin-left: 10%;
    margin-right: 10%;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    min-width: 100%;
    scroll-snap-align: start;
}

.testimonial-card {
    display: flex;
    gap: 1.5rem;
    color: white;
}

.testimonial-image {
    width: 64px;
    height: 64px;
    overflow: hidden;
}

.testimonial-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-content {
    flex: 1;
}

.testimonial-quote {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    position: relative;
    padding-top: 2rem;
}

.testimonial-quote::before {
    content: '"';
    position: absolute;
    top: -10px;
        font-family: "Passion One", serif;
        font-weight: 200;
        font-style: normal;
    left: -20px;
    font-size: 4rem;
    opacity: 0.8;
}

.testimonial-author {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.testimonial-role {
    font-size: 0.9rem;
    opacity: 0.9;
}

.scroll-indicators {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 2rem;
}

.indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.indicator.active {
    background: white;
}


/* Testimonials Section 
.testimonials {
    padding: 4rem 1rem;
    background: #b29696;
}

.testimonials-carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    -webkit-overflow-scrolling: touch;
}

.testimonial-card {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    scroll-snap-align: start;
}

.testimonial-card img{
    min-width: 150px;
}


.testimonial-image {
    width: 100%;
    height: 200px;
    background: #4CAF50;
    margin-bottom: 1rem;
    border-radius: 4px;
}*/

/* Footer */
footer {
    background: #f8f0f0;
    padding: 4rem 1rem;
}

.footer-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-content img{
    height: 60px;
}


.informations{
    display: flex;
    gap: 48px;
    align-items: center;
    padding: 24px 0px;
}

.informations div p{
    margin-bottom: 12px;
    color: #787777;
}

/* Responsive Design */

@media (max-width: 600px) {
body{
    width: 100%;
    height: 100%;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: transparent !important;
    font-family: 'textbook-new' , sans-serif;
    color: white;
    z-index: 1000;
    backdrop-filter: blur(2px);
    align-items: center;
}


nav {
    width: 100vw;
    margin: 0;
    padding: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    right: 15rem;
    position: relative;
    height: 40px;
    margin: auto;
}

.nav-links {
    display: none;
    gap: 2rem;
}

.nav-links a {
    font-family: 'textbook-new', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    display: none;
}

.progress-bar {
    height: 3px;
    background: #483f3c;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
    display: none;
}

.logo{
    left: 0px;
    height: 5rem;
    padding: 1rem;
}

    .hero {
        flex-direction: column;
    }

    .section {
        padding: 20px;
    }

    .elemento-topo{
        position: absolute;
        opacity: .5;
        z-index: 4000;
        top:0;
        margin-top: -300px;
        left: 600px;
        display: none;
        width: 600px;
        height: auto;
    }

    .section.left {
        background-color: #222226;
        color: white;
        width: 100%;
        height: 190vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        text-align: center;
        position: relative;
    }

    .section.left p {
        display: none;
    }

    .section.left .cima{
        font-family: 'carlasans';
        text-align: left;
        margin-top: 0;
        margin-left: 0px;
        font-size: 40px;
        font-weight: 400;
    }
    
    .section.left .baixo{
        margin-left: 80px;
        font-family: 'carlasans';
        text-align: left;
        font-size: 20px;
        font-weight: 400;
        margin-top: 2rem;
    }
    
    .left .image {
        width: 100%;
        justify-content: center;
        margin-top: 20px;
    }
    
    .left img {
        width: 130%;
        border-radius: 10px;
    }


    .section.center {
        background-color: #ae8d80;
        width: 100%;
        height: 125vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 20px;
    }

    .center .estrela{
        position: absolute;
        top: 10%;
        left: 66%;
        width: 0;
        height: auto;
    }
    .center .sol{
        display: flex;
        top: 20%;
        left: 30%;
        width: 0;
        height: auto;
    }
    .center .content {
        max-width: 80%;
    }
    .capitalize {
        font-family: 'carlasans';
    
        text-transform: uppercase;
    }
    .center h1 {
        font-family: 'carlasans';
        text-transform: capitalize;
    
        font-size: 40px;
        margin: 10px 0;
    }
    
    .center p {
        font-size: 18px;
    }
    
    .icon {
        font-size: 30px;
    }


    .section.right {
        position: relative;
        width: 100%;
    }
    
    .right .image {
        width: 100vw;
        height: 100%;
        margin: -25px;
    }
    
    .right img {
        width: 100%;
        height: 100%;
    }
    .vertical-text {
        position: absolute;
        right: -12rem;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
        font-size: 24px;
        letter-spacing: .8rem;
        font-weight: 600;
        color: white;
        align-items: end;
    }
    


    /* Services Section */
.services {
    padding: 4rem 1rem;
    text-align: center;
}

.services h2 {
    font-size: 42px;
    margin-bottom: 2rem;
    padding: 1rem;
}
.services p{
    font-size: 20px;
    padding: 1rem;
}

.services-carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 1rem;
    -webkit-overflow-scrolling: touch;
}

.service-card {
    text-align: start;
    min-width: 280px;
    scroll-snap-align: start;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.service-card h3{
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1b1b1b;
    padding: 0rem 1rem;
}
.service-card h4 {
    padding: 0rem 1rem;
    font-size: 10px;
}

.service-card p{
    font-size: 16px;
    color: #1b1b1b;
    opacity: .5;
    font-weight: regular;
}

.service-image {
    width: 100%;
    height: 300px;
    background: #b39b94;
    background-size:cover;

    margin-bottom: 1rem;
}

/* Estilos para a seção de avaliações */
section .testiominials{
    padding-left: 10%;
    padding-right: 10%;;
}
.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
    min-width: 80%;
    scroll-snap-align: start;
}

    /*
    .testimonial-card{
        margin-right: 24px;
    }

    .service-card,
    .testimonial-card,
    .testimonial-right {
        min-width: 260px;
    }

    .services h2 {
        font-size: 24px;
        margin-bottom: 1rem;
    }
    .services p{
        font-size: 16px;
    }
    
    */
    .informations{
        flex-direction: column;    
        gap: 24px;
    }

}

/* Scroll Indicators */
.scroll-indicators {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ccc;
}

.indicator.active {
    background: #000000;
}

/* Hide scrollbars but keep functionality */
.services-carousel,
.testimonials-carousel {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.services-carousel::-webkit-scrollbar,
.testimonials-carousel::-webkit-scrollbar {
    display: none;
}